<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-blue">
    <a class="navbar-brand" href="#">Java Cloud</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
      data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownItem" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Vehicle</a>
          <div class="dropdown-menu" aria-labelledby="dropdownItem">
            <a class="dropdown-item" routerLink='/vehicle/save'>New</a>
            <a class="dropdown-item" routerLink='/vehicle/list'>List</a>
          </div>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownItem" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Vehicle Type</a>
          <div class="dropdown-menu" aria-labelledby="dropdownItem">
            <a class="dropdown-item" routerLink='/vehicle-type/save'>New</a>
            <a class="dropdown-item" routerLink='/vehicle-type/list'>List</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
