<app-header></app-header>
<div class="card">
  <div class="card-header">
    NEW VEHICLE TYPE
  </div>
  <div class="card-body">
    <form [formGroup]="formVehicleType">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" formControlName="description">
      </div>
      <div class="btn-save">
        <button type="submit" class="btn btn-primary" (click)="save()"><i class="fa fa-floppy-o"></i></button>
      </div>
    </form>
  </div>
</div>
